/* MOBILE RESPONSIVENESS */
@media (max-width: 992px) {
  .app-container {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .main-header,
  .hero-carousel {
    margin-left: 0;
  }

  .folder-grid {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    gap: 1rem;
    justify-content: center;
  }

  .folder-tab {
    white-space: nowrap;
    flex-shrink: 0;
  }
}

@media (max-width: 992px) {
  .hero-carousel {
    height: 210px;
  }
  .slide-overlay {
    padding: 1rem 0.6rem !important;
    color: var(--white);
    font-size: 0.65rem;
  }

  .brand {
    color: var(--primary);
    font-size: 1.1rem;
  }

  .slider-nav {
    backdrop-filter: blur(0);
  }

  .sidebar {
    margin-top: 0px;
    padding: 0;
  }

  .teacher-profile {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-bottom: 0rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  .profile-header {
    margin-right: 0rem;
    flex: 0 0 auto;
  }
  .profile-header h2 {
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }
  .bio {
    margin-top: -40px;
    flex: 1;
    font-size: 0.875rem;
    text-align: center;
  }
  .archives-nav {
    padding: 0.1rem 0 0.5rem;
    background: var(--profile-bg);
  }
  td {
    font-size: 0.8rem;
  }

  .gallery h4 {
    color: rgb(127, 82, 103) !important;
    font-size: 0.8rem;
  }
  .year-section {
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 990px) {
  .menu-btn {
    display: none;
  }
}
