@media (max-width: 992px) {
  .hero-carousel {
    height: 210px;
  }
  .slide-overlay {
    padding: 1rem 2rem !important;
    color: var(--white);
    font-size: 0.65rem;
  }

  .brand {
    color: var(--primary);
    font-size: 1.1rem;
  }

  .slider-nav {
    backdrop-filter: blur(0);
  }

  .sidebar {
    margin-top: 0px;
  }

  .teacher-profile {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-bottom: 1rem; 
  }
  .profile-header {
    margin-right: 0rem;
    flex: 0 0 auto;
  }
  .profile-header h2 {
    font-size: 1rem;
    letter-spacing: 0 rem;
  }
  .bio {
    margin-top: -40px;
    flex: 1;
    font-size: 0.675rem;
    text-align: center;
  }
}
